$prefix: '.zw-message';

#{$prefix}-container {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    pointer-events: none;
}

#{$prefix} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#{$prefix}-item {
    position: relative;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    display: inline-block;
    padding: 0 16px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
    pointer-events: all;
}

#{$prefix}-item-wrap {
    text-align: center;
    margin-bottom: 10px;
}
#{$prefix}-item-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: calc(50% - 7px);
    left: 10px;
    &-success{
        background: url('../assets/success.png') center/ 14px 14px no-repeat;
    }
    &-info{
        background: url('../assets/info.png') center/ 14px 14px no-repeat;
    }
    &-error{
        background: url('../assets/error.png') center/ 14px 14px no-repeat;
    }
    &-warn{
        background: url('../assets/warn.png') center/ 14px 14px no-repeat;
    }
}


#{$prefix}-item-text {
    margin-left: 20px;
}

#{$prefix}-item-leave {
    animation-name: message-leave;
    animation-duration: 0.5s;
}

@keyframes message-leave{
  0% {
    max-height: 150px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}